@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik+Microbe&family=Source+Sans+Pro:wght@400;600&display=swap');
:root{
    --dark:#0A0908;
    --light:#F8F9FA;
    --ntr:#222120;
}
.logo{
    font-family: "Rubik Microbe";
    font-size: 2.5rem;
    color: var(--light);
}
nav{
    height: 120px;
    padding: 0px 100px;
    background-color: var(--dark);
    display: grid;
    align-items: center;
    grid-template-columns: 0.75fr 1fr;
}
nav img{
    cursor: pointer;
}
.div-menu{
    margin-top: 100px;
    width: 100%;
    height: auto;
    padding: 0px 100px;
    background-color: var(--dark);
}
.div-top{
    margin-bottom: 100px;
    width: 100%;
    height: 120px;
    display: grid;
    align-items: center;
    grid-template-columns: 0.75fr 1fr;
}
.div-top img{
    cursor: pointer;
}
.menu-links{
    font-family: 'Poppins';
    font-weight: 400;
    color: var(--light);
    margin-bottom: 40px;
}
.line{
    height: 4px;
    background-color: var(--ntr);
    border-radius: 50px;
    margin: 40px 0px;
}
.socials{
    margin-right: 20px;
}
.form-input{
    height: 70px;
    width: 500px;
    text-indent: 25px;
    background-color: var(--light);
    border: 0;
    display: block;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
    color: #999999;
}
input::placeholder{
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
    color: #999999;
}
input:focus{
    outline: 0;
}
.form-button{
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: var(--light);
    border: 4px var(--light) solid;
    padding: 10px 40px;
    background-color: transparent;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
}
@media only screen and (max-width:600px){
    nav{
        padding: 0px 30px;
        height: 75px;
        grid-template-columns: 0.5fr 1fr;
    }
    .logo{
        font-size: 1.5rem;
    }
    nav img{
        width: 25px;
        height: auto;
    }
    .div-menu{
        padding: 0px 30px;
        height: 100vh;
    }
    .div-top{
        margin-top: 50px;
        height: 75px ;
        grid-template-columns:  0.5fr 1fr;
    }
    .div-top img{
        width: 25px;
        height: auto;
    }
    .menu-links{
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .line{
        height:2px;
        margin: 20px 0px;
    }
    .socials{
        margin-right: 10px;
        width: 30px;
        height: auto;
    }
    .form-input{
        height: 35px;
        width: 100%;
        text-indent: 10px;
        margin-bottom: 10px;
        font-size: 0.75rem;
    }
    input::placeholder{
        font-size: 0.75rem;
    }
    .form-button{
        font-size: 0.8rem;
        border: 2px var(--light) solid;
        padding: 5px 20px;
    }
    .container{
        display: block;
        width: 100%;
        gap: 0px;
    }
}